body{
    font-size: 2rem;
    background:lightslategray;    
background-attachment: fixed;
font-family: 'Merienda', cursive;
border: 1px solid black;
}
nav{
    font-family:'Slabo 27px', serif;
}

a{
    color: black;

}
a:hover{
    color: white;
}

.framesize{
    width:800px;
    height:900px;
}
