body {
    font-size: 5.0rem;
    background: white;
    background-attachment: fixed;
    font-family: 'Merienda', cursive;
    border: 2px solid blue;
}

nav {
    /* TODO: Fix the typos */
    font-fmaily: 'Slabo 27px', serif;
}

a {
    color: black;
}

a:hover {
    color: blue
}